a {
   color:black;
   margin-left: 0px;
   margin-right: 0px;
   display: block;
   text-align: center;
text-decoration:none;
font-weight:700;
}

a:hover {
    color: red!important;
}
ion-grid {

    height:500px !important;
}

ion-button [type="submit"]{
    border: none;
    --width: 250px;
    background: white;
    color: #000;
    font-size: 16px;
    line-height: 100px;
    padding: 10px 0;
    border-radius: 100px;
    cursor: pointer;

}

